/* @font-face {
    font-family: "Ostrich Sans";
    src: url("../fonts/ostrich-sans/ostrich-regular.ttf")format('truetype');
    
} */

@font-face {
    font-family: 'ostrich_sansmedium';
    src: url('../fonts/ostrich-sans/ostrich-regular-webfont.woff2') format('woff2'),
         url('../fonts/ostrich-sans/ostrich-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    height: 100vh;
    width: 100vw;
  }

/* .landing-bg-img
{
    /* background-image: url("../night_sky.jpg");
    margin:0px; */
    
    /* background:url("../night_sky.jpg") no-repeat center center fixed;
    height: 100%;
    background-size: cover; */

    /* width:100%;
    height: 100%;
    background-image: url("../night_sky.jpg");
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat; */
    
    /* background-image: url("../night_sky.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    
}*/

/* First Section */
#landing-page
{
    /* position: relative;
    display: table;
    width: 100%;
    background: rgba(99,214,250,1);
    height: 100vh; */
    background-image: url("../images/night_sky.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.flex-container 
{
    display: flex;
    flex-direction: row;
    padding-left:30px;
}

.header-text
{
    /* font-family: "Ostrich Sans"; */
    font-family: "ostrich_sansmedium";
    font-size: 2.5rem;
    color:#F0F8FF ;
    padding: 10px 10px;
    margin-top: 0px;
    opacity: 0.9;
}

.link{
    color:white ;
    text-decoration: none;
}
.link:hover{
    color: aquamarine;
}

.main-text
{
    /* font-family: "Open Sans Condensed";
    font-size:4rem;
    font-weight: 300;
    padding:auto;
    position: absolute; */

    font-family: "Poppins";
    font-weight: 700;
    /* font-family:"Futura Lt BT"; */
    font-size: 60px;

    color:#F0F8FF ;
    padding: auto;
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    opacity: 0.9;
}

/* Second Section */
.about-image
{
    height: 100vh;
    width: 100vw;
    opacity: 0.8;
}
.carousel_slider
{
    height:100vh;
    width:100vw;
}

.about-heading{
    position: absolute;
    top:1450px;
    left:400px;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    /* text-align: center; */
    color: aquamarine;
    font-weight: 200;
    font-size: 8rem;
    /* font-family: "Ostrich Sans"; */
    font-family: "ostrich_sansmedium";
}
/* 
.about-heading.reveal{
    position: relative;
    
    top:1450px;
    left:400px;
    transform: translateY(150px);
    opacity: 0;
    transition: all 2s ease;
}
.about-heading.reveal.active{
    transform: translateY(0px);
    opacity: 1;
} */
/* Third Section */

.test-img{
    height: 100vh;
}
.test
{
    position: absolute;
    bottom:250px;
    left:50px;
    /* text-align: center; */
    color:aquamarine; 
    /* font-family: "Ostrich Sans"; */
    font-family: "ostrich_sansmedium";
    font-weight: 200;
    
    letter-spacing: 2px;

}
p.test 
{
    
    position: absolute;
    color:aquamarine;
    bottom:100px;
    left:50px;
    font-size: 22px;
    /* font-family: "Ostrich Sans"; */
    font-family: "ostrich_sansmedium";
    text-transform: none;
    font-weight: 200;
    text-align: left;

}

.reveal{
    position: relative;
    /* bottom:100px;
    left:50px; */
    transform: translateY(150px);
    opacity: 0;
    transition: all 2s ease;
}
  
.reveal.active{
    transform: translateY(0px);
    opacity: 1;
}

h1.reveal{
    position: relative;
    bottom:250px;
    text-align: left;
    /* transform: translateY(150px); */
    opacity: 0;
    transition: all 2s ease;
}

/* h1.reveal.active{
    /* transform: translateY(0px); */
    /* transform: translateX(-150px); */
    /* opacity: 1;
} */ 

/* Fourth Section  */

/* .social-icon{
    margin: 10px 10px;
    /* font-size: 3rem; */


.social-icon:hover{
    color:aquamarine;
}
.mx{
    margin: 5px 40px;
}
#footer{
    height:100px;
    background: #122730;
    color:white;
    text-align: center;
    padding: 7% 15%;
}
